.container{
    display: flex;
    padding: 2rem 4rem;
    font-family: 'Roboto';
    font-size: var(--default-font-size);
}
.container > *{
    margin-right: 2rem;
}
.container > img{
    padding: 0 1rem;
    border-radius: var(--default-radius);
    background-color: transparent;
    max-width: 200px;
    max-height: auto;

}
.info{
    border: 1px solid black;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--default-radius);
}
.info > *{
    margin-bottom: 1rem;
}
.input{
    display: flex;
    gap:2rem;
}
.input > button{
    border: none;
    border-radius: 50% ;
    background-color: var(--mint-color);
    height: 30px;
    width: 30px;
}

.input > button:hover, .return > button:hover{
    cursor: pointer;
    background-color: var(--mint-color-hover);
}

.input > input{
    width: 300px;
    text-align: center;
    flex: 1 1 0;
    border-radius: var(--default-radius);
    font-size: var(--default-font-size);
}

.return{
    display:flex;
    justify-content: right;
}

.return > button{
    color:white;
    margin-left: 2rem;
    width:120px;
    height:40px;
    border:none;
    border-radius: var(--default-radius);
    background-color: var(--mint-color);
    margin-top: 3rem;
    font-size: var(--default-font-size);
}
.text{
    padding: 0 4rem;
    font-family: 'Roboto';
    font-size: var(--default-font-size);
}