.home{
    margin-top: 5rem;
    display:flex;
    gap: 25px;
    justify-content: center;
    font-family: 'Roboto';
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
}
.text > *{
    margin-bottom: 1.5rem;
}

.text > button{
    width: 120px;
    height: 40px;
    border: none;
    font-family: 'Roboto Bold';
    font-size: 1rem;
    color: var(--white);
    background-color: var(--mint-color);
}
.text > button:hover{
    cursor: pointer;
    background-color:var(--mint-color-hover);
    border-radius: 16px;
}
.shoppingImage{
    width:400px;
    height: auto;
}

@media only screen and (min-width: 1500px) {
    .shoppingImage{
        width:700px;
        height: auto;
    }
  }