.contact{
    border-radius: var(--default-radius);
    background-color: var(--nav-color);
    padding: 2rem;
    margin:10rem auto;
    font-family: 'Roboto Bold';
    color:var(--white);
    display: flex;
    gap: 25px;
    width:750px;
    height:400px;
    align-items: center;
}

.text > *{
    margin-bottom: 2rem;
}

.icon {
    display: flex;
    justify-content: center;
    gap:10%;
}

.follow {
    text-align: center;
}

.vl{
    border-left: 6px solid var(--white);
    height: 100%;
    border-radius: var(--default-radius);
}

.logo{
    max-width:150px;
}